/* old-standard-tt-regular - latin - analog font for 'Georgia' */
@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/old-standard-tt-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/old-standard-tt-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-regular - latin - analog font for 'Arial' */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/source-sans-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/source-sans-pro-v21-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/source-sans-pro-v21-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* border-box model for all elements */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100%;
}

.contener_centered {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
}

section, footer {
    min-width: 1280px;
}
.dark-section {
    background: url("../../assets/images/gradient-noise.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%, #211F20);
}

.white-section {
    background: #FFFFFF;
}

.gray-section {
    background: #F6F6F6;
}

img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

#start-screen {
    height: 908px;
}

header {
    width: 1200px;
    height: 60px;
    position: relative;
    top: 60px;
    margin: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 184px;
    height: 60px;
}

h1 {
    width: 190px;
    height: 35px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

h3 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    cursor: pointer;
}

.button-dark {
    background: #F1CDB3;
}

.button-dark:hover {
    background: #FDDCC4;
}

.button-light:hover {
    background: #FDDCC4;
    border-color: #00000000;
}

#logo h2 {
    width: 179px;
    height: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: block;
    margin: 10px 0 0 4px;
}

nav {
    width: 443px;
    height: 27px;
    padding: 0;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

nav a:hover {
    color: #FAFAFA;
}

nav a:active {
    padding-top: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.active-link {
    padding-top: 3px;
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
}

#start-screen-content {
    width: 1200px;
    height: 728px;
    margin: 0px 40px 0 40px;
    position: relative;
    top: 120px;
    display: flex;
    justify-content: space-between;
}

#start-screen-content .graphic {
    width: 698px;
    height: 728px;
}

#not-only {
    width: 460px;
    height: 322px;
    position: relative;
    top: 163px;
}

#not-only h2 {
    width: 310px;
    height: 114px;
    color: #FFFFFF;
}

#not-only p {
    width: 460px;
    height: 72px;
    margin-top: 42px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: justify;
    color: #CDCDCD;
}

#button-make-friend {
    width: 207px;
    height: 52px;
    display: block;
    margin-top: 42px;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    text-decoration: none;
}

#about-screen {
    height: 588px;
}

#about-screen .contener_centered {
    padding: 80px 40px 100px 40px;
}

#about-content {
    width: 1200px;
    height: 408px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-content .graphic {
    width: 300px;
    height: 408px;
}

#about-content-text {
    width: 430px;
    height: 380px;
    margin: 0 0 0 120px;
}

#about-content-text h3{
    width: 370px;
    height: 90px;
    color: #545454;
}

#about-content-text p{
    margin-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

#pets-screen {
    height: 877px;
}

#pets-screen .contener_centered {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pets-screen h3{
    width: 400px;
    height: 90px;
    text-align: center;
    color: #545454;
}

.block-footer h3 {
    height: 90px;
    color: #FFFFFF;
}

#slider {
    width: 100%;
    height: 435px;
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
}

.button-slider-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 19px;
    position: relative;
    top: 192px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

button {
    margin: 0;
    padding: 0;
}

#button-left {
    margin: 0 53px 0 0 ;
}

#button-right {
    margin: 0 0 0 53px;
    transform: rotate(180deg);
}

.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}

.card:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.card:hover .button-light {
    background: #FDDCC4;
    border-color: #00000000;
}

.central-card {
    margin: 0 90px;
}

.card p {
    width: 74px;
    height: 23px;
    margin: 30px auto;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.button-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px;
    margin: 0 auto;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
}

.card img {
    border-radius: 9px 9px 0px 0px;
    display: block;
}

#button-get-know {
    width: 261px;
    height: 52px;
    display: block;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    text-decoration: none;
}



#help-screen {
    height: 611px;
}

#help-screen .contener_centered {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#help-screen h3 {
    width: 308px;
    height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #545454;
}

.help-icon {
    width: 60px;
    height: 60px;
}

.grid-container-x5 {
    width: 1026px;
    height: 113px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 82px 150px 60px 153px 101px;
    align-content: space-between;
}

.grid-container-x4 {
    width: calc(1026px - 168px);
    height: 113px;
    margin-top: 55px;
    display: grid;
    grid-template-columns: 89px 101px 165px 143px;
    align-content: space-between;
}

.grid-container > li {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.grid-container h4 {
    height: 23px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #545454;
}

#donate-screen {
    height: 462px;
}

#donate-screen .contener_centered {
    background: #F6F6F6;
    padding: 80px 182px 100px 183px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#donate-screen-content {
    width: 380px;
    height: 282px;
}

#img-lying-dog {
    width: 505px;
    height: 261px;
}

#icon-credit-card {
    width: 30px;
    height: 23px;
}

#donate-screen-content h3 {
    width: 300px;
    height: 90px;
    color: #545454;
}

#donate-screen-content h5 {
    width: 307px;
    height: 17px;
    margin: 20px 0;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

#button-donate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    width: 349px;
    height: 43px;
    border-radius: 9px;
    text-decoration: none;
}

#button-donate h4 {
    height: 19px;
    letter-spacing: 0.04em;
    color: #545454;
}

#donate-screen-content p {
    width: 380px;
    height: 72px;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #B2B2B2;
    overflow: hidden;
}

footer {
    height: 350px;
}

footer .contener_centered {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

.block-footer {
    height: 234px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-footer a {
    text-decoration: none;
}

#contacts {
    width: 278px;
}

.graphic-contacts {
    width: 40px;
    height: 32px;
}

#adress {
    width: 302px;
}

.graphic-location {
    width: 22px;
    height: 32px;
}

.block-footer h3 {
    height: 90px;
    color: #FFFFFF;
}

.block-footer h4 {
    margin-left: 20px;
    color: #F1CDB3;
}

.block-footer-item {
    height: 32px;
    display: flex;
    align-items: center;
}

#adress h3 {
    width: 270px;
}

#boston {
    height: 46px;
}

#img-puppy-bye {
    width: 300px;
    height: 310px;
}