/* old-standard-tt-regular - latin - analog font for 'Georgia' */
@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/old-standard-tt-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/old-standard-tt-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-regular - latin - analog font for 'Arial' */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/source-sans-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/source-sans-pro-v21-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/source-sans-pro-v21-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* border-box model for all elements */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container_centered {
    width: 1280px;
    margin: 0 auto;
}

section, footer {
    min-width: 1280px;
}
.dark-section {
    background: url("../../assets/images/gradient-noise.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%, #211F20);
}

.white-section {
    background: #FFFFFF;
}

.gray-section {
    background: #F6F6F6;
}

img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

#start-screen {
    height: 908px;
}

header {
    width: 1200px;
    height: 60px;
    margin: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 184px;
    height: 60px;
}

h1 {
    width: 190px;
    height: 35px;
    margin: 0;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: block;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

h3 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    cursor: pointer;
}

.button-dark {
    background: #F1CDB3;
}

.button-dark:hover {
    background: #FDDCC4;
}

.button-light:hover {
    background: #FDDCC4;
    border-color: #00000000;
}

#logo h2 {
    width: 179px;
    height: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: block;
    margin: 10px 0 0 4px;
}

nav {
    width: 443px;
    height: 27px;
    padding: 0;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

nav a:hover {
    color: #FAFAFA;
}

nav a:active {
    padding-top: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.active-link {
    padding-top: 3px;
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
}

#start-screen-content {
    width: 1200px;
    height: 728px;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}

#start-screen-content .graphic {
    width: 698px;
    height: 728px;
}

#not-only {
    width: 460px;
    height: 322px;
    margin-top: 163px;
}

#not-only h2 {
    width: 310px;
    height: 114px;
    color: #FFFFFF;
}

#not-only p {
    width: 460px;
    height: 72px;
    margin-top: 42px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: justify;
    color: #CDCDCD;
}

#button-make-friend {
    width: 207px;
    height: 52px;
    display: block;
    margin-top: 39px;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    text-decoration: none;
}

#about-screen {
    min-height: 588px;
}

#about-screen .container_centered {
    padding: 80px 40px 100px 40px;
}

#about-content {
    width: 1200px;
    height: 408px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-content .graphic {
    width: 300px;
    height: 408px;
}

#about-content-text {
    width: 430px;
    height: 380px;
    margin: 0 0 0 120px;
}

#about-content-text h3{
    width: 370px;
    height: 90px;
    color: #545454;
}

#about-content-text p{
    margin-top: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

#pets-screen {
    height: 877px;
}

#pets-screen .container_centered {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pets-screen h3{
    width: 400px;
    height: 90px;
    text-align: center;
    color: #545454;
}

.block-footer h3 {
    height: 90px;
    color: #FFFFFF;
}

#slider {
    width: 100%;
    height: 435px;
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-slider-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 19px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

#button-right {
    transform: rotate(180deg);
}

.card {
    width: 270px;
    height: 435px;
    margin: 0 53px;
    background: #FAFAFA;
    border-radius: 9px;
}

.card:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.card:hover .button-light {
    background: #FDDCC4;
    border-color: #00000000;
}

.central-card {
    margin: 0 37px;
}

.card p {
    width: 74px;
    height: 23px;
    margin: 30px auto;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.button-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px;
    margin: 0 auto;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
}

.card img {
    border-radius: 9px 9px 0px 0px;
    display: block;
}

#button-get-know {
    width: 261px;
    height: 52px;
    display: block;
    border-radius: 100px;
    padding: 15px 45px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
    text-decoration: none;
}



#help-screen {
    min-height: 611px;
}

#help-screen .container_centered {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#help-screen h3 {
    width: 308px;
    height: 90px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #545454;
}

.help-card {
    height: 113px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
}

.help-icon {
    width: 60px;
    height: 60px;
}

.help-card-first {
    margin: 0 60px 0 0;
}

.help-card-last {
    margin: 0 0 0 60px;
}

.flex-grid-container {
    width: 1026px;
    min-height: 281px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.flex-grid-container h4 {
    height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #545454;
}

#donate-screen {
    height: 462px;
}

#donate-screen .container_centered {
    background: #F6F6F6;
    padding: 80px 182px 100px 183px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#donate-screen-content {
    width: 380px;
    height: 282px;
}

#img-lying-dog {
    width: 505px;
    height: 261px;
}

#icon-credit-card {
    width: 30px;
    height: 23px;
}

#donate-screen-content h3 {
    width: 300px;
    height: 90px;
    color: #545454;
}

#donate-screen-content h5 {
    width: 307px;
    height: 17px;
    margin: 20px 0;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

#button-donate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    width: 349px;
    height: 43px;
    border-radius: 9px;
    text-decoration: none;
}

#button-donate h4 {
    height: 19px;
    letter-spacing: 0.04em;
    color: #545454;
}

#donate-screen-content p {
    width: 380px;
    height: 72px;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #B2B2B2;
    overflow: hidden;
}

footer {
    height: 350px;
}

footer .container_centered {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

.footer-flex-grid {
    width: 740px;
    display: flex;
    justify-content: space-between;
}

.block-footer {
    height: 234px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-footer a {
    text-decoration: none;
}

#contacts {
    width: 278px;
}

.graphic-contacts {
    width: 40px;
    height: 32px;
}

#adress {
    width: 302px;
}

.graphic-location, .graphic-location img {
    width: 22px;
    height: 32px;
    display: inline-flex
}

.block-footer h3 {
    height: 90px;
    color: #FFFFFF;
}

.block-footer h4 {
    margin-left: 20px;
    color: #F1CDB3;
}

.block-footer-item {
    height: 32px;
    display: flex;
    align-items: center;
}

#adress h3 {
    width: 270px;
}

#boston {
    height: 46px;
}

#img-puppy-bye {
    width: 300px;
    height: 310px;
}

/* --- RESPONSIVE LAYOUTS --- */

@media (min-width: 768px) and (max-width: 1279px) {

    .container_centered {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    section, footer {
        min-width: 768px;
    }

    header {
        width: 100%;
        height: 150px;
        margin: 0;
        padding: 30px 30px 60px 30px;
    }

    #start-screen {
        height: 1165px;
    }

    #start-screen-content {
        width: 100%;
        height: 1015px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    #not-only {
        width: 460px;
        min-height: 322px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #not-only p {
        margin: 0 auto;
    }

    #button-make-friend {
        align-self: center;
        margin: 0;
    }

    #start-screen-content .graphic {
        width: 569px;
        height: 593px;
        margin-right: 4vw;
        align-self: flex-end;
    }

    #about-screen {
        min-height: 1048px;
    }

    #about-content {
        width: 100%;
        height: inherit;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    #about-content-text {
        margin: 0;
    }

    #about-content .graphic {
        width: 39vw;
        height: 53vw;
        margin-top: calc(80vw*100/768);
    }

    .central-card {
        margin: 0;
        display: none;
    }

    .card {
        margin: 0;
    }

    .left-card {
        margin: 0 2.6vw 0 1.5vw;
    }

    .right-card {
        margin: 0 1.5vw 0 2.6vw;
    }

    #help-screen .container_centered {
        padding: calc(80vw*100/768) calc(70vw*100/768) calc(100vw*100/768) calc(70vw*100/768);
    }

    .help-icon {
        width: calc(60vw*100/768);
        height: calc(60vw*100/768);
    }

    .help-card {
        width: calc(170vw*100/768);
        height: calc((170vw*100/768)*(113/170));
        margin: 0;
    }

    .flex-grid-container {
        width: 100%;
        min-height: calc(450vw*100/768);
        justify-content: space-between;
    }

    #help-screen h3 {
        width: calc(308vw*100/768);
        height: calc(90vw*100/768);
        font-size: calc(35vw*100/768);
    }

    .flex-grid-container h4 {
        height: calc(23vw*100/768);
        font-size: calc(20vw*100/768);
    }

    #donate-screen {
        height: calc(783vw*100/768);
        max-height: calc(261vw*100/768 + 342px + 180px); /*image + text + padding*/
    }

    #donate-screen .container_centered {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 100%;
        padding: 80px 132px 100px 132px;
    }

    #img-lying-dog {
        width: calc(505vw*100/768);
        height: calc(261vw*100/768);
        margin-top: 60px;
    }

    footer {
        height: calc(30vw*100/768 + 234px + 65px + 310vw*100/768 ); /*padding + text content + margin + image*/
        max-height: 700px;
    }

    footer .container_centered {
        padding: 30px calc(64vw*100/768) 0 calc(64vw*100/768);
        flex-direction: column;
        align-items: center;
    }

    .footer-flex-grid {
        width: calc(640vw*100/768);
    }

    .block-footer {
        margin: 0;
    }

    #adress {
        width: 290px;
    }

    #img-puppy-bye {
        width: calc(300vw*100/768);
        height: calc(310vw*100/768);
        max-width: 351px;
        max-height: 363px;
        margin-top: 65px;
    }
}