/* old-standard-tt-regular - latin - analog font for 'Georgia' */
@font-face {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/old-standard-tt-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/old-standard-tt-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-regular - latin - analog font for 'Arial' */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/source-sans-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-italic - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../../assets/fonts/source-sans-pro-v21-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../../assets/fonts/source-sans-pro-v21-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* border-box model for all elements */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100%;
}

.container_centered {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section, footer {
    min-width: 1280px;
}
.dark-section {
    background: url("../../assets/images/gradient-noise.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%, #211F20);
}

.white-section {
    background: #FFFFFF;

}

.gray-section {
    background: #F6F6F6;
}

img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

#page-start {
    height: 120px;
}

header {
    width: 1200px;
    height: 60px;
    margin: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 184px;
    height: 60px;
}

h1 {
    width: 190px;
    height: 35px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: block;
    margin-block-start: 0;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

h3 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    cursor: pointer;
}

.button-dark {
    background: #F1CDB3;
}

.button-dark:hover {
    background: #FDDCC4;
}

.button-light:hover {
    background: #FDDCC4;
    border-color: #00000000;
}

#logo h2 {
    width: 179px;
    height: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: block;
    margin: 10px 0 0 4px;
}

nav {
    width: 443px;
    height: 27px;
    padding: 0;
    align-items: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

nav a:hover {
    color: #FAFAFA;
}

nav a:active {
    padding-top: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.active-link {
    padding-top: 3px;
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
}

#pets-screen {
    height: 1342px;
}

#pets-screen .container_centered {
    padding: 80px 40px 100px 40px;
    align-items: center;
    justify-content: normal;
}
#pets-screen h3{
    width: 400px;
    height: 90px;
    text-align: center;
    color: #545454;
}

#cards-container {
    width: 100%;
    height: 930px;
    margin: 45px 0;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.button-slider-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 19px;
    position: relative;
    top: 192px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

#button-left {
    margin: 0 53px 0 0 ;
}

#button-right {
    margin: 0 0 0 53px;
    transform: rotate(180deg);
}

.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
}

.card:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.card:hover .button-light {
    background: #FDDCC4;
    border-color: #00000000;
}

.card p {
    width: 74px;
    height: 23px;
    margin: 30px auto;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.button-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px;
    margin: 0 auto;
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Old Standard TT', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
}

.card img {
    border-radius: 9px 9px 0px 0px;
    display: block;
}

footer {
    height: 350px;
}

footer .container_centered {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-footer {
    height: 234px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-footer h3 {
    height: 90px;
    color: #FFFFFF;
}

.block-footer a {
    text-decoration: none;
}

#contacts {
    width: 278px;
}

.graphic-contacts {
    width: 40px;
    height: 32px;
}

#adress {
    width: 302px;
}

.graphic-location, .graphic-location img {
    width: 22px;
    height: 32px;
    display: inline-flex
}

.block-footer h3 {
    height: 90px;
    color: #FFFFFF;
}

.block-footer h4 {
    margin-left: 20px;
    color: #F1CDB3;
}

.block-footer-item {
    height: 32px;
    display: flex;
    align-items: center;
}

#adress h3 {
    width: 270px;
}

#boston {
    height: 46px;
}

#img-puppy-bye {
    width: 300px;
    height: 310px;
}